@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

/*-----------------------------
    Root Variables
------------------------------ */
:root{
  --primary-color:#fff;
  --secondary-color:#ededed;
  --dark-color:#000;
  --button-color:#E02C6D;
  --header-color:#2D25A0;
  --shadow : 0 0 10px rgba(0,0,0,0.3)
}

/*-----------------------------
    Websites Common styles
------------------------------ */
body{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background: var(--secondary-color);
}
main{
  width: 80%;
  margin: 0 auto;
}
.btn{
  text-decoration: none;
  color: var(--primary-color);
  font-size: 16px;
  padding: 10px 20px;
  background-color: var(--button-color);
  transition: all 0.5s;
}
.btn i{
  margin: 0 10px;
}
.btn:hover{
  padding: 20px 20px;
  border-radius: 30px;
}
/*-----------------------------
    starting header section
------------------------------ */
header{
  background: var(--header-color);
  min-height: 700px;
  padding: 10px 60px;
}
header main{
  width: 100%;
}
/* ---------- navigation area -------------*/
nav{
  display: flex;
  height: 60px;
  justify-content: space-around;
  align-items: center;
  padding: 40px 0;
}
nav .logo{
  color: var(--primary-color);
  text-decoration: none;
  font-size: 30px;
  transition: all 0.5s;
}
nav .logo:hover{
  color: rgb(112, 104, 104);
}
nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul li{
  list-style: none;
  box-sizing: border-box;
  padding-right: 20px;
  padding-left: 20px;
}
nav ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  transition: all 0.5s;
}
nav ul li a:hover{
  color: rgb(112, 104, 104);

}
input[type='checkbox']{
  display: none;
}
nav .menu-icon i{
  display: none;
}

/*--------- top section ----------------*/
.top-section{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2,1fr);
  padding: 60px 60px;
}
.top-section .header-content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.header-content h1{
  font-size: 60px;
  color: var(--primary-color);
}
.top-section .header-image img{
  transition: all 0.3s;
  width: 100%;
}
.top-section .header-image:hover img{
  transform: rotate(45deg);
}
/*-----------------------------
    ending header section
------------------------------ */



/*-----------------------------
    starting player section
------------------------------ */
.players-section{
  margin-top: 80px;
  margin-bottom: 50px;
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(3,1fr);
}
.player{
  background:#fff;
  padding: 20px 20px;
  box-shadow: var(--shadow);
}
.player img{
  width: 100%;
}
/*-----------------------------
    ending header section
------------------------------ */

/*-----------------------------
    starting highlight section
------------------------------ */
.highlight-section{
  margin-top: 130px;
  display: grid;
  grid-gap: 60px;
  grid-template-columns: repeat(2,1fr);
}
.highlight-content{
  display: flex;
  min-height: 500px;
  flex-direction: column;
  align-items: flex-start;
  /* justify-content: center; */
}
.highlight-content h1{
  font-size: 60px;
  color: var(--dark-color);
  margin-bottom: 0;
}
.highlight-image img{
  width: 100%;
}
/*-----------------------------
    ending header section
------------------------------ */

/*-----------------------------
    starting blogs section
------------------------------ */
.blogs{
  margin-top: 80px;
}
.blogs h1{
  text-align: center;
  font-size: 50px;
}
.our-blogs{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2,1fr);
}
.blog{
  background: var(--primary-color);
  padding: 20px 20px;
  box-shadow: var(--shadow);
}
.blog img{
  width: 100%;
  height: 400px;
}
/*-----------------------------
    ending blogs section
------------------------------ */


/*-----------------------------
    starting sponsers section
------------------------------ */
.our-sponcers{
  margin-top: 60px;
  text-align: center;
  background: var(--primary-color);
  padding: 60px 40px;
  box-shadow: var(--shadow);
}
.our-sponcers h1{
  font-size: 40px;
}
.icons{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
}

/*-----------------------------
    ending sponsers section
------------------------------ */

/*-----------------------------
    starting footer section
------------------------------ */
footer{
  text-align: center;
  margin-top: 100px;
  padding: 40px 50px;
  background: #fff;
}
.footer-logo img{
  width: 400px;
  height: auto;
  margin-bottom: 30px;
}
.social-links i{
  font-size: 20px;
  width: 20px;
  height: 20px;
  border: 1px solid #cccc;
  border-radius: 50%;
  background: #ededed;
  color: rgba(105, 103, 103, 0.8);
  padding: 10px;
  margin-bottom: 20px;
}
.copyright{
  font-weight: bold;
}
/*-----------------------------
    ending footer section
------------------------------ */


/*-----------------------------
    Use Of media query for tablet
------------------------------ */

@media (max-width:840px){
  .header-content{
    align-items: center;
  }
  nav{
    width: 100%;
  }
  nav .menu-icon i{
    display: block;
    font-size: 30px;
    color: var(--primary-color);
    cursor: pointer;
  }
  nav ul{
    position: fixed;
    top: 120px;
    left: -120%;
    display: block;
    width: 100%;
    height: 100vh;
    background: royalblue;
    transition: all 0.5s;
  }
  nav ul li{
    width: 100%;
    display: block;
    margin: 50px 35px;
  }
  nav ul li a{
    font-weight: bold;
  }

  #click:checked ~ ul{
    left: 0;
  }
  .top-section{
    width: 80%;
    grid-template-columns: repeat(1,1fr);
  }
  .top-section img{
    margin-top: 20px;
    width: 50%;
  }
  .players-section{
    grid-template-columns: repeat(2,1fr);
  }
  .highlight-section{
    grid-gap: 0;
  }
  .highlight-section{
    grid-template-columns: repeat(1,1fr);
    margin-top: 50px;
  }
  .highlight-content{
    min-height: 400px;
  }
  .our-blogs {
    grid-template-columns: 1fr;
  }
  .blog img{
    width: 100%;
    height: auto;
  }
}


/*-----------------------------
    use of media query for mobile phone
------------------------------ */
@media (max-width:650px){
  .header-content h1{
    font-size: 35px;
  }
  .players-section{
    width: 100%;
    margin-top: 20px;
    grid-template-columns: repeat(1,1fr);
  }
  
  .highlight-section{
    grid-template-columns: repeat(1,1fr);
  }
  .highlight-content{
    min-height: 260px;
    margin-top: 0;
  }
  .highlight-content h1{
    font-size: 30px;
  }
  footer{
    margin-top: 30px;
  }
  .footer-logo img{
    width: 300px;
  }
}


/*-----------------------------
    designed by Mostafizur Rahman Limon
------------------------------ */