@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

/* css variable */
:root{
  --primary-color:#fff;
  --secondary-color:#ededed;
  --dark-color:#000;
  --button-color:#E02C6D;
  --header-color:#2D25A0;
  /* --shadow:0 1px 5px rgba(104,104,104,0.8); */
  --shadow : 0 0 10px rgba(0,0,0,0.3)
}

/* common styles */
body{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background: var(--secondary-color);
}
main{
  width: 90%;
  margin: 0 auto;
}
.btn{
  text-decoration: none;
  color: var(--primary-color);
  font-size: 16px;
  padding: 10px 20px;
  background-color: var(--button-color);
  transition: all 0.5s;
}
.btn i{
  margin: 0 10px;
}
.btn:hover{
  padding: 20px 20px;
  border-radius: 30px;
}

/* starting header section */
header{
  background: var(--header-color);
  min-height: 700px;
}
/* navigation area */
nav{
  display: flex;
  height: 60px;
  border-bottom: 2px solid #ccc;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}
nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul li{
  list-style: none;
  padding-right: 50px;
}
nav ul li a{
  text-decoration: none;
  color: #fff;
}
input[type='checkbox']{
  display: none;
}
nav .menu-icon i{
  display: none;
}

/* top section */
.top-section{
  display: grid;
  grid-gap: 30px;
  /* grid-template-columns: repeat(auto-fit,minmax(500px,1fr)); */
  grid-template-columns: repeat(2,1fr);
  padding: 60px 0;
}
.header-content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.header-content h1{
  font-size: 60px;
  color: var(--primary-color);
}
.top-section .header-image img{
  width: 100%;
}
/* ending header section */



/* starting blog section */
.blogs-section{
  margin-top: 80px;
  margin-bottom: 50px;
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(3,1fr);
}
.blog{
  background:#fff;
  padding: 20px 20px;
  box-shadow: var(--shadow);
}
.blog img{
  width: 100%;
}
/* ending blog section */

/* starting hightlights section */
.highlight-section{
  margin-top: 130px;
  display: grid;
  grid-gap: 60px;
  /* grid-template-columns: repeat(auto-fit,minmax(400px,1fr)); */
  grid-template-columns: repeat(2,1fr);
}
.highlight-content{
  display: flex;
  min-height: 500px;
  flex-direction: column;
  align-items: flex-start;
  /* justify-content: center; */
}
.highlight-content h1{
  font-size: 60px;
  color: var(--dark-color);
  margin-bottom: 0;
}
.highlight-image img{
  width: 100%;
}
/* ending hightlights section */


/* starting Footer Section */
footer{
  text-align: center;
  margin-top: 100px;
  padding: 40px 50px;
  background: #fff;
}
.footer-logo img{
  width: 400px;
  height: auto;
  margin-bottom: 30px;
}
.social-links i{
  font-size: 20px;
  width: 20px;
  height: 20px;
  border: 1px solid #cccc;
  border-radius: 50%;
  background: #ededed;
  color: rgba(105, 103, 103, 0.8);
  padding: 10px;
  margin-bottom: 20px;
}
.copyright{
  font-weight: bold;
}
/* ending Footer Section */


/* use of media query */

@media (max-width:840px){
  .header-content{
    align-items: center;
  }
  nav .menu-icon i{
    display: block;
    font-size: 30px;
    color: var(--primary-color);
    cursor: pointer;
  }
  nav ul{
    position: fixed;
    top: 70px;
    left: -120%;
    display: block;
    width: 100%;
    height: 100vh;
    background: royalblue;
    transition: all 0.5s;
  }
  nav ul li{
    width: 100%;
    display: block;
    margin: 50px 35px;
  }
  nav ul li a{
    font-weight: bold;
  }

  #click:checked ~ ul{
    left: 0;
  }
  .top-section{
    width: 100%;
    grid-template-columns: repeat(1,1fr);
  }
  .blogs-section{
    grid-template-columns: repeat(2,1fr);
  }
  .highlight-section{
    grid-gap: 0;
  }
  .highlight-section{
    grid-template-columns: repeat(1,1fr);
    margin-top: 50px;
  }
  .highlight-content{
    min-height: 400px;
  }
}

@media (max-width:650px){
  .header-content h1{
    font-size: 35px;
  }
  .blogs-section{
    width: 100%;
    margin-top: 20px;
    grid-template-columns: repeat(1,1fr);
  }
  
  .highlight-section{
    grid-template-columns: repeat(1,1fr);
  }
  .highlight-content{
    min-height: 260px;
    margin-top: 0;
  }
  .highlight-content h1{
    font-size: 30px;
  }
  footer{
    margin-top: 30px;
  }
  .footer-logo img{
    width: 300px;
  }
}